<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeavFeed -- Your Page {{name}}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>{{name}}</h1>
    </header>
    <main>
      <div class="person">
        <p>
          Job: {{job}}
        </p>
        <p>
          Age: {{age}}
        </p>
      </div>
    </main>
  </body>
</html>
