<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeavFeed -- Your Page {{username}}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <main>
      <h2>{{user.username}}</h2>
      {{#each quiz}}
        <p>
          Quiz: {{quizName}}
          <br>
          Score: {{score}}
        </p>
      {{/each}}
    </main>
  </body>
</html>
