//Move index.html here 
{{> header}}
 <main>
      <div class="quizBox">   <!-- quizBox = css for the picture that links to a quiz
        //like this: <a href="QUIZhtmlURL">QUIZ NAME</a>.  -->
      </div>
    </main>
