//This page will be dynamically made-- taking same template and inserting quiz questions, images, etc into the page via handlebars. 
//Or not. Might only dynamically make username show up 

{{> header}}

//Here is unediting html:


      <main>
        <h2>{{quizName}}</h2>
        <p>{{quizTag}}</p>

    {{#each questions}}
        {{> questionPartial}} 
    {{/each}}
      

        <div>
          <button type="button" class="submit-button">Submit!</button>
        </div>

</main>
