<!-- This is the partial html for the header used on each BeavFeed page -->
<header>

  <h1><a href="/">BeavFeed</a></h1>
  <!-- insert circles here if we want them -->

  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="#">About</a></li>
      {{#if userName}}
        <li class="navbar-item navbar-menu navbar-right">
          <a href="/{{username}}">{{userName}}</a>
          <ul id="navbar-menu-list" class="navbar-menu-list hidden">
            <li><a href="/">Logout</a></li>
          </ul>
        </li>
      {{else}}
        <!--
          login button will bring up a menu over the page for the user
          to enter their username (JS function). HTML for this is below
        -->
        <li id="login-button" class="navbar-item navbar-right login-button">Login</li>
      {{/if}}
    </ul>
  </nav>

</header>


<div id="login-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Log In</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="login-input-element required">
        <input type="text" placeholder="UserName" id="login-username">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Login</button>
    </div>

  </div>
