body {
    margin: 0; 
    padding:0;
}

h1, h2, p, div, a, li {
    font-family: "Helvetica", cursive, sans-serif;
}

a {
    text-decoration: none;
}

header h1 a {
    font-size: 62px; 
    color: red; 
    padding:65px 55px;
}

